body{
  background-color: #1c1c25;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Example font family */
    color: white; /* Example text color */
}


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease;
  opacity: 0.9;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

h1 {
  margin-top: 0;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

h4 {
  color: white;
}

label {
  font-weight: bold;
  color: white;
  display: block;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  resize: vertical;
  transition: border-color 0.3s ease;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.faculty-feedback {
  animation: slideIn 0.5s ease;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
